html {
	height: 100%;
}
body {
	font-family: "Verdana", sans-serif;
	height: 100%;
	color: #444;
	background-color: #f0f0f0;
	margin: 0;
	padding: 0;
}
body, div, ol, li {
	box-sizing: border-box;
}
.app-container {
	font-size: 0.648em;
	line-height: 1.6;
	height: 100%;
	width: 100%;
}
.app-conatainer:after {
	content: "";
	display: block;
	clear: both;
}

.info-panel {
	position: relative;
	float: left;
	width: 50%;
	height: 100%;
	background-color: #FFFFFF;
	padding: 15px;

}

.control-panel  {
	height: 70px;
	overflow: hidden;
}
.rides-filer {
	margin-bottom: 15px;

}
.rides-filer label:before{
	content: "";
	display: inline-block;
	margin: 0 5px 0 0;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	
}

.rides-filer .with-red-dot:before{
	background-color: #FF5700;
}
.rides-filer .with-orange-dot:before{
	background-color: #FFAD00;
}
.rides-filer .with-gray-dot:before{
	background-color: #888;
}

.rides-sort-panel {
	font-weight: 600;
	margin-bottom: 5px;
}

.current-sort-item span{
	border-bottom: 1px solid #888;
}

.col[data-sort]{
	cursor: pointer;
}

.col[data-sortdirection="DESC"]:after {
	content: "";
	display: inline-block;
	margin: 4px  0 0 5px;
	vertical-align: middle;
	border-style: solid;
	border-width: 4px;
	border-color: #666 transparent transparent transparent;
}
.col[data-sortdirection="ASC"]:after {
	content: "";
	display: inline-block;
	margin:  0 0 4px 5px;
	vertical-align: middle;
	border-style: solid;
	border-width: 4px;
	border-color: transparent transparent #666 transparent;
} 

.rides-list {
	position: absolute;
	top: 95px;
	bottom: 15px;
	left: 15px;
	right: 15px;
	overflow: auto;
}



.map-panel {
	float: left;
	width: 50%;
	height: 100%;
	background-color: rgba(0,0,0,0.1);
	color: #383838;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.3);
	box-shadow: 1px 1px 0px rgba(0,0,0,0.25) inset,
				-1px -1px 0px rgba(255,255,255,0.25) inset,
				1px 1px 0px rgba(0,0,0,0.25),
				-1px -1px 0px rgba(255,255,255,0.25);
}
.map-canvas {
	width: 100%;
	height: 100%;
}

.station-pin {
	width: 12px!important;
	height: 12px!important;
	border: 2px solid #0067a0;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 0 1px 2px rgba(0,0,0,0.1),
				0 0 1px rgba(0,0,0,0.2) inset;
}

.buss-pin {
	width: 25px!important;
	height: 25px!important;
	border: 3px solid;
	border-radius: 50%;
	background-color: #fff;
	box-shadow: 0 0 1px 2px rgba(0,0,0,0.1),
				0 0 1px rgba(0,0,0,0.2) inset;
}

.buss-pin.delay-less-15m{
	border-color: #73D700;
}

.buss-pin.delay-more-15m{
	border-color: #FFAD00;
}
.buss-pin.delay-more-30m{
	border-color: #FF5700;
}

.row {
	width: 100%;
	margin-bottom: 4px;
	transition: background-color 0.2s;
}

.rides-list .row:hover {
	background-color: #eee;
	cursor: pointer;
}
.row:after {
	content: "";
	display: block;
	clear: both;
}
.col {
	float: left;
	min-height: 1px;
	padding: 0 5px;
	width: 100%;
	white-space: nowrap;
	overflow: hidden;
	text-overflow: ellipsis;
	margin-bottom: 5px; 
}

.ride-status:before{
	content: "";
	display: inline-block;
	width: 7px;
	height: 7px;
	border-radius: 50%;
	vertical-align: middle;
}

.ride-status.delay-less-15m{
	color: #73D700;
}
.ride-status.delay-less-15m:before{
	background-color: #73D700;
}

.ride-status.delay-more-15m{
	color: #FFAD00;
}
.ride-status.delay-more-15m:before{
	background-color: #FFAD00;
}
.ride-status.delay-more-30m{
	color: #FF5700;
}
.ride-status.delay-more-30m:before{
	background-color: #FF5700;
}
.ride-status.no-gps{
	color: #888;
}
.ride-status.no-gps:before{
	background-color: #888;
}

.col-1 {
	width: 12.6865671641791%;
}
.col-2 {
	width: 10%;
}
.col-3 {
	width: 38.8059701492537%;
}
.col-4 {
	width: 15.6716417910448%;
}
.col-5 {
	width: 16.4179104477612%;
}
.col-6 {
	width: 5.97014925373134%;
}

.side-by-side {
	width: 100%
}

.side-by-side .side {
	float: left;
	overflow: hidden;
	max-width: 100%;
	line-height: 1;
}
.side-by-side .side:nth-child(1) {
	min-width: 46px;
	margin-right: 5px;
}

@media (max-width: 1100px) {
	.info-panel,
	.map-panel {
		width: 100%;
		height: 50%;
	}
}